rendelesreszletes.component.css
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #ffffff;
}

.bg-video {
  position: fixed;
  top: -10px;
  left: -20px;
  width: 120%;
  height: 120%;
  object-fit: cover;
  z-index: -1;
  filter: blur(5px);
}

#fokeret {
  background-color: #000000d0;
  border-radius: 20px;
  padding: 10px;
  min-height: 80vh;
}

a {
  text-decoration: none;
  color: #000000;
  text-align: left;
  font-size: 25px;
}

a:hover {
  text-decoration: none;
}

h2 {
  text-shadow: 0px 0px 25px rgb(162, 117, 84);
  font-size: 37px;
  letter-spacing: 2px;
}

.summary {
  background-color: #4a311a86;
  box-shadow: 0px 0px 10px white;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.summary h5 {
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-size: 25px;
}

.summary .btn {
  color: black;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
  font-weight: bold;
  border: 2px solid black;
  background: linear-gradient(90deg, #f0a500, #6f4800);
}

.summary .btn:hover {
  color: rgb(0, 0, 0);
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
  font-weight: bold;
  border: 2px solid rgb(255, 255, 255);
  background: linear-gradient(90deg, #61a3c9, #07345d);
}

.quantity-control {
  display: flex;
  align-items: center;
}

.quantity-control input {
  width: 40px;
  text-align: center;
  border: 1px solid #ced4da;
  margin: 0 5px;
}

.termekhatter {
  background-color: #ffffff;
  color: #000000;
  border-top: 2px solid rgba(255, 132, 0, 0.99);
  text-shadow: 0px 0px 15px rgba(137, 50, 3, 0.6);
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 3px -3px 10px rgb(255, 255, 255);
  transition: transform 0.3s;
  height: 100%;
  width: 100%;
  color: #000000;
}

.card:hover {
  transform: scale(1.05);
}

h5 {
  font-weight: bold;
}

h6 {
  margin-bottom: 5px;
}

.total {
  font-weight: bold;
}


.azonosito{
  color: #dd7a00;
   font-weight: bold;
   
   letter-spacing: 0.5px;
}

.kiscimek{
  color: #ed8608;
}


.osszesitoszoveg{
  font-size: 18px;
}