
<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bejelentkezés</title>
  
</head>
<body>

    <video [autoplay]="true" [muted]="true" [loop]="true" class="bg-video">
        <source src="kajasvideo.mp4" type="video/mp4">
    </video>

    <div class="container">

        <h1>Üdvözöljük a <span class="q">Quick</span> <span class="s">Serve</span>-nél!</h1>
        <h3>Kérlek jelentkezz be!</h3>

        <form class="login-form" (submit)="login(); $event.preventDefault()">
            <input type="text" placeholder="Felhasználónév" required [(ngModel)]="nev" class="m-2" name="nev">
            <input type="password" placeholder="Jelszó" required [(ngModel)]="jelszo" class="m-2" name="jelszo">
            <br><br>
            <button type="submit">Bejelentkezés</button>
            <p *ngIf="hibauzenet" class="error-message">{{ hibauzenet }}</p>
        </form>
        <br>
        <p>Nem rendelkezik fiókkal? <a href="regisztracio">Regisztráljon itt!</a></p>
    
    </div>
</body>
</html>